@include media-md {
    .menu-btn {
        visibility: hidden;
    }
    
    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__linnk {
                font-size: 1.3rem;
            }
        }
    }

    .about__bio {
        font-size: 1.5rem;
    }
}